* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: gray;
    background-image: linear-gradient(rgba(183, 29, 29, 0.674), rgba(22, 65, 236, 0.5));
    min-height: 100vh;
    background-size: cover;
}

canvas {
    background-color: darkslategray;
    border: 5px solid black;
    margin: 10px;
    grid-area: canvas;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
    margin: 40px;
    margin-bottom: 30px;
}

#winText {
    width: 510px;
    font-size: 30px;
    cursor: pointer;
    line-height: 1.5;
}

body > div > h3, #winText {
    border: 5px solid black;
    color: white;
    background-color: rgb(49, 53, 53);
    width: fit-content;
    padding: 12px;
    margin: 0 auto;
    display: none;
}

.controls > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
body > div {
    gap: 20px;
}
main {
    display: grid;
    grid-template-areas: 'left-player canvas canvas right-player';
}

#leftPlayer {
    margin: auto 0 auto auto;
    border: 5px solid black;
    color: white;
    background-color: rgb(49, 53, 53);
    width: fit-content;
    padding: 15px;
    grid-area: left-player;
}

#rightPlayer {
    margin: auto auto auto 0;
    border: 5px solid black;
    color: white;
    background-color: rgb(49, 53, 53);
    width: fit-content;
    padding: 15px;
    grid-area: right-player;
}

#leftPlayer *, #rightPlayer * {
    margin: auto auto;
}

.controls {
    font-size: 20px;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    text-align: left;
}

.fa-solid {
    margin: auto auto;
    font-size: 40px;
}

.btns {
    display: none;
}
body > div {
    height: fit-content;
    margin: 10px auto auto auto;
}
button {
    cursor: pointer;
}
@media (max-width: 1024px) {
    h1 {
        margin-bottom: 30px;
    }

    body > div > h3 {
        display: flex;
        gap: 35px;
        border-bottom: none;
    }
    #leftPlayer, #rightPlayer {
        display: none;
    }
    main {
        grid-template-areas: 
        'left-player canvas canvas right-player';
    }
    .btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        
    }
    .btns * {
        padding: 20px;
        font-size: 70px;
        border-radius: 30px;
        background-color: darkslateblue;
        color: white;
    }
    .up, .down {
        border: 10px solid black;
    }
    canvas {
        margin-top: 0;
    }
}
@media (max-width: 869px) {
    button {
        margin-top: 30px;
    }
    .btns * {
        font-size: 50px;
        padding: 10px;
    }
    .btns {
        gap: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 756px) {
    canvas {
        width: 300px;
        height: 300px;
        margin: auto auto;
    }
    button {
        margin: 10px;
    }
}
@media (max-width: 544px) {
    main {
        grid-template-areas: 
        'canvas canvas' 
        'right-player left-player';
    }
    .down {
        margin-top: 5px;
    }
}